body, html {
    width: 1800px;
    height: 800px;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.background-video {
    position: absolute;
    top: -100px;
    left: -50px;
    width: 1750px;
    height: 950px;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    margin: 3em 5em;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 1500px;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 2em;
    z-index: 15;
}

.btn-component {
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-component:active {
    transform: scale(0.85);
}

.btn-component img {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-component:active img {
    transform: scale(0.95);
}

.cpt {
    color: white;
    font-size: xx-large;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cpt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/5.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.btn-control {
    display: flex;
    background-color: transparent;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-control:active {
    transform: scale(0.85);
}

.btn-control img {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-control:active img {
    transform: scale(0.95);
}

img {
    width: 150px;
    height: 150px;
}

.msg {
    position: absolute;
    top: 35%;
    right: 45%;
    color: white;
    font-size: 6em;
    z-index: 20;
}

.hidden {
    display: none;
}
